@font-face {
    font-family: 'VazirmatnVariable';
    src: url('../assets/fonts/VazirMatn/Vazirmatn[wght].woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@for $i from 1 to 10 {
    .w#{$i * 100} {
        font-variation-settings: "wght" #{$i * 100};
        font-feature-settings: "calt", "tnum" 0;
    }
}


@font-face {
    font-family: 'TheBestLanguageIconFont';
    src:  url('../assets/fonts/IconFont/icomoon.eot?5kmibf');
    src:  url('../assets/fonts/IconFont/icomoon.eot?5kmibf#iefix') format('embedded-opentype'),
      url('../assets/fonts/IconFont/icomoon.ttf?5kmibf') format('truetype'),
      url('../assets/fonts/IconFont/icomoon.woff?5kmibf') format('woff'),
      url('../assets/fonts/IconFont/icomoon.svg?5kmibf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
[class^="icon-"], [class*=" icon-"] {
    font-family: 'TheBestLanguageIconFont' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@each $name, $content in (
  "DP": "\e900",
  "check": "\e901",
  "figma": "\e902",
  "life-buoy": "\e903",
  "moon": "\e904",
  "sun": "\e905",
  "x": "\e906",
  "star": "\e907"
) {
    .icon-#{$name}:before {
        content: $content;
    }
}
